@using Vlog.Models
@{
    ViewBag.Title = "Detail";
    Article article = ViewBag.Article;
    
}

<h2>@article.Title</h2>
<span>@article.User.Name</span>
<span>@article.Time</span>
<div class="panel panel-success"><p>@Html.Raw(article.Content)</p></div>