@using Vlog.Models
@{
    ViewBag.Title = "Detail";
    Article article = ViewBag.Article;
    
}

<h2>@article.Title</h2>
<span>@article.User.Name</span>
<span>@article.Time</span>
<pre>@Html.Raw(article.Content)</pre>