@using Vlog.Models
@{
    ViewBag.Title = "Detail";
    Article article = ViewBag.Article;
    
}

<h2>@article.Title</h2>
<p>@article.User.Name</p>
<p>@article.Time</p>
<p>@Html.Raw(article.Content)</p>