@using Vlog.Models;
@{
    ViewBag.Title = "Index";
    List<Article> articles = ViewBag.Articles;
}

<h2>Index</h2>
@if(articles.Count==0)
{
   <p>No article!</p>
}
else
{
    foreach (Article item in articles)
    {
        <h3><a href="Detail?articleId=@item.ArticleId">@item.Title</a></h3>
        <p>@item.User.Name</p>
        <p>@item.Time</p>
        <p>@(item.Content.Length>=20 ? item.Content.Substring(0,20): item.Content)</p>
    }
}
