
@using Vlog.Models
@{
    ViewBag.Title = "Update";
    Article article = ViewBag.Article;

}
<h2>Update</h2>

<form role="form" method="post" action="UpdateSubmit">
    <input type="hidden" value="@article.ArticleId" name="articleId">
    <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control" id="exampleInputEmail1" value="@article.Title" name="title">
    </div>
    <div class="form-group">
        <label>Content</label>
        <textarea class="form-control" rows="3" name="content" id="textarea1" style="height: 400px; width: 90%;resize: none">@Html.Raw(article.Content)</textarea>
        <!--这里引用jquery和wangEditor.js-->
        <script type="text/javascript">
    var editor = new wangEditor('textarea1');
    editor.create();
        </script>
    </div>
        <button type="submit" class="btn btn-default">Submit</button>
</form>


