@using Vlog.Models
@{
    List<Article>  articles = ViewBag.Articles;
}


<button type="button" class="btn btn-primary btn-lg" formaction="Insert">Create blog</button>


@if (articles.Count == 0)
{
    <p>No article!</p>
}
else
{

    foreach (Article item in articles)
    {

        <h3>@item.Title <span class="label label-info" ><a href="/Article/Detail?articleId=@item.ArticleId"></a>Update</span></h3>
        <span style="font-size: +15px">@item.Time.ToShortDateString()</span>
    }
}

