@using Vlog.Models
@{
    List<Article>  articles = ViewBag.Articles;
}

<a href="Insert">Create</a>

@if (articles.Count == 0)
{
    <p>No article!</p>
}
else
{

    foreach (Article item in articles)
    {

        
        <a href="/Article/Detail?articleId=@item.ArticleId"><h3>@item.Title</h3></a>
        <a href="Update?articleId=@item.ArticleId">Update</a>
        <span style="font-size: +15px">@item.Time.ToShortDateString()</span>
    }
}

