@media screen and (min-width:600px) {
    #container {
        margin-top: 50px;
        /*padding: auto;*/
        background-color:aliceblue;
        width: 100%;
        height: 800px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .leftsidesection {
        /*margin-top: 50px;*/
        float: left;
        width: 70%;
        height: 600px;
        background-color:#ffffff;
        /*box-sizing: border-box;*/
        overflow: scroll;
        /*padding:0 15px 0 15px;*/
    }
    .rightside {
        margin-top: 0px;
        margin-left: 70%;
        height: 200px;
        background-color:darkorchid;
    }
    .rightsidenotop {
        margin-top: 0px;
        margin-left: 70%;
        height: 200px;
        background-color:darkorchid;
    }
/*菜单条样式*/
 #tablecss {
     display: inline;
     top: 0;
    left: 0;
    position: fixed;
    height: 50px;
    width: 100%;
    background-color:lavenderblush;
 }
 li {
     display: inline;
        
 }
    #tableli {
        text-align: center;
        text-decoration: none;
        width: 104px;
        height: 50px;
        /*color: #000;*/
        border: 1px solid #fff;
        border-width: 0 1px 0 0;
        background: lavenderblush;
        line-height: 30px;
        font-size: 25px;
        display: inline;
    }
    #tablelivv {
        float: right;
        margin-right: 50px;
        font-size: 25px;
    }
    .articlecss {
        margin-top: 5px;
        background-color: aliceblue;
        text-align: center;
        margin-left: 40px;
        margin-right: 40px;
        border-radius: 5px; /*圆角*/
        padding: 15px 15px 15px 15px;
    }
    #myButton {
        background-color: white;
        border: 0;
        padding: 0;
        color:black;
        border-radius: 5px;
        width: 90px;
        height: 35px;
        cursor: pointer;
        font-size: 18px;
        background-color: #f5f7f9;
    }
}
@media screen and (max-width:599px) {
  nav li {
    display: inline;
  }
}

