@using ImageUpload.Models;
@{
    ViewBag.Title = "Index";
    List<Image> images = ViewBag.Images;
    Image image = ViewBag.Image;
}

<h2>Index</h2>

<a href="/Image/Upload">Click to upload new images.</a>

        @foreach (var item in images)
        {
           <div class="form-group ">
                <a href="@item.ImageUrl.ToString()">@item.UploadTitle</a>
            </div>
        }

