@using ImageUpload.Models;
@{
    ViewBag.Title = "Index";
    List<Image> images = ViewBag.Images;
}

<h2>Index</h2>

<a href="/Image/Index">Click to upload new images.</a>

<div class="panel panel-primary" 
