
@using System.EnterpriseServices.Internal
@using System.Web.UI.WebControls
@using LoginEmpty.Models

@{
    Layout = "~/Views/Shared/_ArticleLayout.cshtml";
}

@{
    ViewBag.Title = "CreateLog";
}
<script src="~/Scripts/viviJquery.js"></script>
<link href="/Content/info.css" rel="stylesheet">

<div id="container">
    @*大框架*@
<div id="tablecss">
    <ul style="margin-top: 10px;">
        <li> <a id="tableli" href="www.baidu.com" target="blank">首页</a></li>
        <li> <a id="tableli" href="www.baidu.com" target="blank">问答</a></li>
        <li> <a id="tableli" href="www.baidu.com" target="blank">更多</a></li>
        <li id="tablelivv"><a href="/Home/Index">Logout</a></li>
        <li id="tablelivv"><a href="/Home/Info">@ViewBag.userName</a></li>
    </ul>
</div>
    <div class="leftsidesection" style="overflow:auto">
            <form role="form" class="form" method="get" action="/Home/CreateBlog" style="margin-left:30%">
                Title<input type="text" name="artiName" style="display: block"/>
                Content<textarea name="articontent" style="resize: none;height:400px;width:800px"  class="form-control" ></textarea>
                <Button type="submit">Publish</Button>
            </form>
       
    </div>
<div class="rightside">广告</div>
<div class="rightsidenotop">
    日历挂件
</div>
</div>



