
@using System.EnterpriseServices.Internal
@using System.Web.UI.WebControls
@using LoginEmpty.Models

@{
    Layout = "~/Views/Shared/_ArticleLayout.cshtml";
}

@{
    ViewBag.Title = "EditLog";
    ArticleInfo artiInfo = ViewBag.ArticleInfo;
}
<script src="~/Scripts/viviJquery.js"></script>
<link href="/Content/info.css" rel="stylesheet">

<div id="container">
    @*大框架*@
    <div id="tablecss">
        <ul style="margin-top: 10px;">
            <li> <a id="tableli" href="www.baidu.com" target="blank">首页</a></li>
            <li> <a id="tableli" href="www.baidu.com" target="blank">问答</a></li>
            <li> <a id="tableli" href="www.baidu.com" target="blank">更多</a></li>
            <li id="tablelivv"><a href="/Home/Index">Logout</a></li>
            @*<li id="tablelivv"><a href="/Home/Info">@artiInfo.Name</a></li>*@
        </ul>
    </div>
    <div class="leftsidesection" style="overflow:auto">
        <form role="form" class="form" method="post" action="/Home/EditSubmit" style="margin-left:30%">
            <input type="hidden" name="artiId" value="@artiInfo.ArticleInfoId" />
            Title<textarea name="artiName" rows="1" cols="4" style="resize: none" class="form-control">@artiInfo.Article</textarea>
            Content<textarea name="artiContent" style="resize: none;height:400px;width:800px" class="form-control">@artiInfo.Content</textarea>
            <button type="submit" class="btn btn-primary">Confirm</button>
        </form>

    </div>
    <div class="rightside">广告</div>
    <div class="rightsidenotop">
        日历挂件
    </div>
</div>



