
@{
    ViewBag.Title = "Login";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/Content/styles.css" rel="stylesheet">
<div class="wrapper">
    <div class="container">
        <h1 style="font-size: +80px">VLOG</h1>
        <h2>SHARE YOUR KONWLEDGE WITH THE WORLD</h2>
        <form role="form" class="form" method="get" action="/Home/Login">
            <input type="text" placeholder="Enter your name" name="name" id="exampleInputEmail1" required="required">
            <input type="password" placeholder="Enter your password" name="password" id="exampleInputPassword1" required="required">
            <button type="submit" id="login-button" style="height: 40px; width: 80px; margin-left:185px">Login</button>
            <button type="reset" id="re-button" style="height: 40px; width: 80px; margin: auto">Reset</button>
            @Html.ActionLink("No account? Register one", "Register", "Home")
            @*<button style="height:40px;width:80px" type="submit" id="register-button" onClick="location.href = '~/Views/Home/Register'">Regist</button>*@
        </form>
    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <footer style="position: absolute;  bottom: 0; text-align: center; font-size: +15px; margin: auto; width: 100%;margin-bottom: 20px">
        <p style="color: black">&copy; @DateTime.Now.Year - Vivi Lei</p>
    </footer>
</div>
<script src="http://pagead2.googlesyndication.com/pub-config/r20160913/ca-pub-4168987395515775.js"></script>
<script src="~/Scripts/jquery-2.1.1.min.js" type="text/javascript"></script>
